# MongoDB - CRUD Operations

## Install pymongo - Do it only once

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-3.12.1-cp37-cp37m-manylinux2014_x86_64.whl (527 kB)
     |████████████████████████████████| 527 kB 1.7 MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.12.1

## Connect to MongoDB

In [9]:
import pymongo
from pymongo import MongoClient 
from pprint import pprint
myclient = MongoClient('localhost', 27017)

In [10]:
myclient.list_database_names()

['admin', 'config', 'horizon', 'horizondb2', 'local', 'test']

## Create DB, Collection

In [11]:
horizondb = myclient['horizon']
# Return a list of all your databases:
print('List of all your systems\'s databases:' , myclient.list_database_names())
customerscol = horizondb["customers"]
# Return a list of all collections in your database:
print('List of collections in horizon database:', horizondb.list_collection_names())

List of all your systems's databases: ['admin', 'config', 'horizon', 'horizondb2', 'local', 'test']
List of collections in horizon database: ['customers']

## Insert

In [12]:
mydict = { "name": "John", "address": "Highway 37" }
adoc = customerscol.insert_one(mydict)
mydict = { "name": "Peter", "address": "Lowstreet 27" }
adoc = customerscol.insert_one(mydict)

In [13]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
adoc = customerscol.insert_many(mylist)

In [14]:
print('List of all your systems\'s databases:' , myclient.list_database_names())
print('List of collections in horizon database:', horizondb.list_collection_names())

List of all your systems's databases: ['admin', 'config', 'horizon', 'horizondb2', 'local', 'test']
List of collections in horizon database: ['customers']

## Find

In [15]:
# Finf one 
adoc = customerscol.find_one()
pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e74'),
 'address': 'Apple st 652',
 'name': 'Amy'}

In [16]:
# Find All
docs =  customerscol.find()
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e74'),
 'address': 'Apple st 652',
 'name': 'Amy'}
{'_id': ObjectId('61a273e855e38a3617354e75'),
 'address': 'Mountain 21',
 'name': 'Hannah'}
{'_id': ObjectId('61a273e855e38a3617354e76'),
 'address': 'Canyon 123',
 'name': 'Michael'}
{'_id': ObjectId('61a273e855e38a3617354e77'),
 'address': 'Ocean blvd 2',
 'name': 'Sandy'}
{'_id': ObjectId('61a273e855e38a3617354e78'),
 'address': 'Green Grass 1',
 'name': 'Betty'}
{'_id': ObjectId('61a273e855e38a3617354e79'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61a273e855e38a3617354e7a'),
 'address': 'One way 98',
 'name': 'Susan'}
{'_id': ObjectId('61a273e855e38a3617354e7b'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('61a273e855e38a3617354e7c'),
 'address': 'Park Lane 38',
 'name': 'Ben'}
{'_id': ObjectId('61a273e855e38a3617354e7d'),
 'address': 'Central st 954',
 'name': 'William'}
{'_id': ObjectId('61a273e855e38a3617354e7e'),
 'address': 'Main Road 989',
 'name': 'Chuck'}
{'_id': ObjectId('61a273e855e38a3617354e7f'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}
{'_id': ObjectId('61b421c63e964790d30a7c4b'),
 'address': 'Highway 37',
 'name': 'John'}
{'_id': ObjectId('61b421c63e964790d30a7c4c'),
 'address': 'Lowstreet 27',
 'name': 'Peter'}
{'_id': ObjectId('61b421c73e964790d30a7c4d'),
 'address': 'Apple st 652',
 'name': 'Amy'}
{'_id': ObjectId('61b421c73e964790d30a7c4e'),
 'address': 'Mountain 21',
 'name': 'Hannah'}
{'_id': ObjectId('61b421c73e964790d30a7c4f'),
 'address': 'Valley 345',
 'name': 'Michael'}
{'_id': ObjectId('61b421c73e964790d30a7c50'),
 'address': 'Ocean blvd 2',
 'name': 'Sandy'}
{'_id': ObjectId('61b421c73e964790d30a7c51'),
 'address': 'Green Grass 1',
 'name': 'Betty'}
{'_id': ObjectId('61b421c73e964790d30a7c52'),
 'address': 'Sky st 331',
 'name': 'Richard'}
{'_id': ObjectId('61b421c73e964790d30a7c53'),
 'address': 'One way 98',
 'name': 'Susan'}
{'_id': ObjectId('61b421c73e964790d30a7c54'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('61b421c73e964790d30a7c55'),
 'address': 'Park Lane 38',
 'name': 'Ben'}
{'_id': ObjectId('61b421c73e964790d30a7c56'),
 'address': 'Central st 954',
 'name': 'William'}
{'_id': ObjectId('61b421c73e964790d30a7c57'),
 'address': 'Main Road 989',
 'name': 'Chuck'}
{'_id': ObjectId('61b421c73e964790d30a7c58'),
 'address': 'Sideway 1633',
 'name': 'Viola'}

In [45]:
# Limit the result to only return 5 documents:
docs = customerscol.find().skip(5).limit(10)

for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61b421d43e964790d30a7c5e'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61b421d43e964790d30a7c5f'),
 'address': 'One way 98',
 'name': 'Susan'}
{'_id': ObjectId('61b421d43e964790d30a7c60'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('61b421d43e964790d30a7c61'),
 'address': 'Park Lane 38',
 'name': 'Ben'}
{'_id': ObjectId('61b421d43e964790d30a7c62'),
 'address': 'Central st 954',
 'name': 'William'}
{'_id': ObjectId('61b421d43e964790d30a7c63'),
 'address': 'Main Road 989',
 'name': 'Chuck'}
{'_id': ObjectId('61b421d43e964790d30a7c64'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}

In [8]:
# Return Only Some Fields
docs = customerscol.find({},{ "_id": 0, "name": 1, "address": 1 })
for adoc in docs:
    pprint(adoc)

NameError: name 'customerscol' is not defined

In [17]:
# This example will exclude "address" from the result:
docs = customerscol.find({},{ "address": 0 })
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e74'), 'name': 'Amy'}
{'_id': ObjectId('61a273e855e38a3617354e75'), 'name': 'Hannah'}
{'_id': ObjectId('61a273e855e38a3617354e76'), 'name': 'Michael'}
{'_id': ObjectId('61a273e855e38a3617354e77'), 'name': 'Sandy'}
{'_id': ObjectId('61a273e855e38a3617354e78'), 'name': 'Betty'}
{'_id': ObjectId('61a273e855e38a3617354e79'), 'name': 'Minnie'}
{'_id': ObjectId('61a273e855e38a3617354e7a'), 'name': 'Susan'}
{'_id': ObjectId('61a273e855e38a3617354e7b'), 'name': 'Vicky'}
{'_id': ObjectId('61a273e855e38a3617354e7c'), 'name': 'Ben'}
{'_id': ObjectId('61a273e855e38a3617354e7d'), 'name': 'William'}
{'_id': ObjectId('61a273e855e38a3617354e7e'), 'name': 'Chuck'}
{'_id': ObjectId('61a273e855e38a3617354e7f'), 'name': 'Minnie'}
{'_id': ObjectId('61b421c63e964790d30a7c4b'), 'name': 'John'}
{'_id': ObjectId('61b421c63e964790d30a7c4c'), 'name': 'Peter'}
{'_id': ObjectId('61b421c73e964790d30a7c4d'), 'name': 'Amy'}
{'_id': ObjectId('61b421c73e964790d30a7c4e'), 'name': 'Hannah'}
{'_id': ObjectId('61b421c73e964790d30a7c4f'), 'name': 'Michael'}
{'_id': ObjectId('61b421c73e964790d30a7c50'), 'name': 'Sandy'}
{'_id': ObjectId('61b421c73e964790d30a7c51'), 'name': 'Betty'}
{'_id': ObjectId('61b421c73e964790d30a7c52'), 'name': 'Richard'}
{'_id': ObjectId('61b421c73e964790d30a7c53'), 'name': 'Susan'}
{'_id': ObjectId('61b421c73e964790d30a7c54'), 'name': 'Vicky'}
{'_id': ObjectId('61b421c73e964790d30a7c55'), 'name': 'Ben'}
{'_id': ObjectId('61b421c73e964790d30a7c56'), 'name': 'William'}
{'_id': ObjectId('61b421c73e964790d30a7c57'), 'name': 'Chuck'}
{'_id': ObjectId('61b421c73e964790d30a7c58'), 'name': 'Viola'}

In [16]:
# Find document(s) with the address "Park Lane 1":
myquery = { "address": "Park Lane 1" }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

In [17]:
# Find document(s) with the address Highway 37
myquery = { "address": "Highway 37" }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a2707c55e38a3617354e66'),
 'address': 'Highway 37',
 'name': 'John'}

In [18]:
# Advanced Query
# Find documents where the address starts with the letter "S" or higher:
myquery = { "address": { "$gt": "S" } }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e79'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61a273e855e38a3617354e7b'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('61a273e855e38a3617354e7f'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}
{'_id': ObjectId('61b421c73e964790d30a7c4f'),
 'address': 'Valley 345',
 'name': 'Michael'}
{'_id': ObjectId('61b421c73e964790d30a7c52'),
 'address': 'Sky st 331',
 'name': 'Richard'}
{'_id': ObjectId('61b421c73e964790d30a7c54'),
 'address': 'Yellow Garden 2',
 'name': 'Vicky'}
{'_id': ObjectId('61b421c73e964790d30a7c58'),
 'address': 'Sideway 1633',
 'name': 'Viola'}

In [19]:
# Filter With Regular Expressions
# Find documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e79'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61a273e855e38a3617354e7f'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}
{'_id': ObjectId('61b421c73e964790d30a7c52'),
 'address': 'Sky st 331',
 'name': 'Richard'}
{'_id': ObjectId('61b421c73e964790d30a7c58'),
 'address': 'Sideway 1633',
 'name': 'Viola'}

## Delete

In [20]:
# Check if you have documents wiht address "Mountain 21":
myquery = { "address": "Mountain 21" }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e75'),
 'address': 'Mountain 21',
 'name': 'Hannah'}
{'_id': ObjectId('61b421c73e964790d30a7c4e'),
 'address': 'Mountain 21',
 'name': 'Hannah'}

In [21]:
# Delete the document with the address "Mountain 21":
myquery = { "address": "Mountain 21" }
customerscol.delete_one(myquery)

In [22]:
# Check again if you have documents wiht address "Mountain 21":
myquery = { "address": "Mountain 21" }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61b421c73e964790d30a7c4e'),
 'address': 'Mountain 21',
 'name': 'Hannah'}

In [23]:
# Check if you have documents were the address starts with the letter S:
myquery = { "address": {"$regex": "^S"} }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

{'_id': ObjectId('61a273e855e38a3617354e79'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61a273e855e38a3617354e7f'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}
{'_id': ObjectId('61b421c73e964790d30a7c52'),
 'address': 'Sky st 331',
 'name': 'Richard'}
{'_id': ObjectId('61b421c73e964790d30a7c58'),
 'address': 'Sideway 1633',
 'name': 'Viola'}

In [24]:
# Delete Many Documents
# Delete all documents were the address starts with the letter S:
x = customerscol.delete_many(myquery)
print(x.deleted_count, "documents deleted.")

4 documents deleted.

In [25]:
# Check again if you have documents were the address starts with the letter S:
myquery = { "address": {"$regex": "^S"} }
docs = customerscol.find(myquery)
for adoc in docs:
    pprint(adoc)

In [26]:
# Delete All Documents in a Collection
x = customerscol.delete_many({})
print(x.deleted_count, "documents deleted.")

21 documents deleted.

In [27]:
# Delete Collection
customerscol.drop()

## Update

In [28]:
customerscol = horizondb["customers"]
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
adoc = customerscol.insert_many(mylist)

In [29]:
myquery = { "address": "Valley 345" }
adoc = customerscol.find_one(myquery)
print(adoc)
id = adoc['_id']
print(id)

{'_id': ObjectId('61b421d43e964790d30a7c5b'), 'name': 'Michael', 'address': 'Valley 345'}
61b421d43e964790d30a7c5b

In [30]:
# Change the address from "Valley 345" to "Canyon 123":=
newvalues = { "$set": { "address": "Canyon 123" } }
customerscol.update_one(myquery, newvalues)

In [31]:
myquery = { "_id": id }
adoc = customerscol.find_one(myquery)
pprint(adoc)

{'_id': ObjectId('61b421d43e964790d30a7c5b'),
 'address': 'Canyon 123',
 'name': 'Michael'}

In [32]:
# Update Many
# Update all documents where the address starts with the letter "S":
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }
docs = customerscol.find(myquery)
for doc in docs: 
    pprint(doc)
x = customerscol.update_many(myquery, newvalues)
print(x.modified_count, "documents updated.")
docs = customerscol.find(myquery)
for doc in docs: 
    pprint(doc)

{'_id': ObjectId('61b421d43e964790d30a7c5e'),
 'address': 'Sky st 331',
 'name': 'Richard'}
{'_id': ObjectId('61b421d43e964790d30a7c64'),
 'address': 'Sideway 1633',
 'name': 'Viola'}
2 documents updated.
{'_id': ObjectId('61b421d43e964790d30a7c5e'),
 'address': 'Sky st 331',
 'name': 'Minnie'}
{'_id': ObjectId('61b421d43e964790d30a7c64'),
 'address': 'Sideway 1633',
 'name': 'Minnie'}

## Sort

In [33]:
docs = customerscol.find()
for adoc in docs:
    print(adoc)

{'_id': ObjectId('61b421d43e964790d30a7c59'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61b421d43e964790d30a7c5a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61b421d43e964790d30a7c5b'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61b421d43e964790d30a7c5c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61b421d43e964790d30a7c5d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61b421d43e964790d30a7c5e'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('61b421d43e964790d30a7c5f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61b421d43e964790d30a7c60'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61b421d43e964790d30a7c61'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61b421d43e964790d30a7c62'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61b421d43e964790d30a7c63'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61b421d43e964790d30a7c64'), 'name': 'Minnie', 'address': 'Sideway 1633'}

In [34]:
# Sort the result alphabetically by name:
docs = customerscol.find().sort("name")
for adoc in docs:
    print(adoc)

{'_id': ObjectId('61b421d43e964790d30a7c59'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61b421d43e964790d30a7c61'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61b421d43e964790d30a7c5d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61b421d43e964790d30a7c63'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61b421d43e964790d30a7c5a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61b421d43e964790d30a7c5b'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61b421d43e964790d30a7c5e'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('61b421d43e964790d30a7c64'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('61b421d43e964790d30a7c5c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61b421d43e964790d30a7c5f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61b421d43e964790d30a7c60'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61b421d43e964790d30a7c62'), 'name': 'William', 'address': 'Central st 954'}

In [38]:
# Sort Descending
# sort("name", 1) ascending
# sort("name", -1) descending

docs = customerscol.find().sort("name", -1)
for adoc in docs:
    print(adoc)

{'_id': ObjectId('61a273e855e38a3617354e7d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61a273e855e38a3617354e7b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61a273e855e38a3617354e7a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61a273e855e38a3617354e77'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61a273e855e38a3617354e79'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('61a273e855e38a3617354e7f'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': ObjectId('61a273e855e38a3617354e76'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61a273e855e38a3617354e75'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61a273e855e38a3617354e7e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61a273e855e38a3617354e78'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61a273e855e38a3617354e7c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61a273e855e38a3617354e74'), 'name': 'Amy', 'address': 'Apple st 652'}

NameError: name 'customers' is not defined